[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-rtd-theme = "*"
sphinx = "*"
mypy = "*"

[packages]
git-privacy-manager = {editable = true,path = "."}
python-gnupg = "~=0.4.4"
click = "~=7.0"

[requires]
python_version = "3.7"
